{% extends 'landing/base.html' %}
{% load static %}
{% load cropping %}

{% block title %}
  Мероприятия
{% endblock %}

{% block content %}
  <main class="block-after-header events-page">
    <div class="container">
      <h1 class="main-title">Мероприятия</h1>
      <section class="events">
        <h2 class="events__title">Предстоящие</h2>
        <div class="events__list">
          {% for event in future_events %}
            <article class="event" id='event_{{ event.pk }}'>
              <a class="event__title small-title" href='#event_{{event.pk}}'>{{ event.title }}</a>
              <p class="event__date-time description">{{ event.date }}</p>
              <p class="event__description description">{{ event.description|linebreaksbr }}</p>
              {% if event.media.exists %}
                <div class="slide__photos">
                  {% for media in event.media.all %}
                    <div class="f-carousel__slide gallery-item-slide">
                      <a data-fancybox="{{ event.get_unique_name }}"
                         data-src="{{ media.file.url }}"
                         {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}>
                        {% if media.is_video %}
                          <video src="{{ media.file.url }}"></video>
                        {% else %}
                          <img src="{% cropped_thumbnail media 'miniature' %}" alt="Домик"
                               loading="lazy">
                        {% endif %}
                      </a>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </article>
          {% empty %}
            <p class="description">В ближайшее время мероприятия не планируется</p>
          {% endfor %}
        </div>
      </section>
      {% if past_events %}
        <section class="events">
          <h2 class="events__title">Прошедшие</h2>
          <div class="events__list">
            {% for event in past_events %}
              <article class="event" id='event_{{ event.pk }}'>
                <a class="event__title small-title" href='#event_{{ event.pk }}'>{{ event.title }}</a>
                <p class="event__date-time description">{{ event.date }}</p>
                <p class="event__description description">{{ event.description|linebreaksbr }}</p>
                {% if event.media.exists %}
                  <div class="slide__photos">
                    {% for media in event.media.all %}
                      <div class="f-carousel__slide gallery-item-slide">
                        <a data-fancybox="{{ event.get_unique_name }}"
                           data-src="{{ media.file.url }}"
                           {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}>
                          {% if media.is_video %}
                            <video src="{{ media.file.url }}"></video>
                          {% else %}
                            <img src="{% cropped_thumbnail media 'miniature' %}" alt="Домик"
                                 loading="lazy">
                          {% endif %}
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </article>
            {% endfor %}
          </div>
        </section>
      {% endif %}
    </div>
  </main>
{% endblock %}

{% block javascript %}
  <script src="{% static 'landing/js/init-fancybox.js' %}"></script>
  <script src="{% static 'landing/js/init-fancybox-carousels.js' %}"></script>
{% endblock %}
