{% extends 'landing/base.html' %}
{% load static %}
{% load cropping %}

{% block title %}Новости{% endblock %}

{% block content %}
  <main class="block-after-header news-page">
    <div class="container">
      <h1 class="main-title">Новости</h1>
      <section class="news">
        {% for news_item in news %}
          <article class="news-item" id='news_{{news_item.pk}}'>
            <a class="news-item__title small-title" href='#news_{{news_item.pk}}'>{{ news_item.title }}</a>
            <p class="news-item__date-time description">{{ news_item.date }}</p>
            <p class="news-item__description description">{{ news_item.description|linebreaksbr }}</p>
            {% if news_item.media.exists %}
              <div class="slide__photos">
                {% for media in news_item.media.all %}
                  <div class="f-carousel__slide gallery-item-slide">
                    <a data-fancybox="{{ news_item.get_unique_name }}"
                       data-src="{{ media.file.url }}"
                       {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}>
                      {% if media.is_video %}
                        <video src="{{ media.file.url }}"></video>
                      {% else %}
                        <img src="{% cropped_thumbnail media 'miniature' %}" alt="Домик"
                             loading="lazy">
                      {% endif %}
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </article>
        {% empty %}
          <p class="description">Пока новостей нет</p>
        {% endfor %}
      </section>
      <div class="paginator">
        {% if news.has_previous %}
          <a href='?page={{ news.previous_page_number }}' class="previous booking-btn">Пред.</a>
        {% endif %}
        {% if news.has_next %}
          <a href='?page={{ news.next_page_number }}' class="next booking-btn">След.</a>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}

{% block javascript %}
  <script src="{% static 'landing/js/init-fancybox.js' %}"></script>
  <script src="{% static 'landing/js/init-fancybox-carousels.js' %}"></script>
{% endblock %}